.pagination-bottom {
	position: absolute;
	width: 100%;
	bottom: 5%;
	text-align: center;
}
.element-disable {
	
}
.panel-right {
	position: relative;
}
td {
	height : 50px;
	font-size : 20px;
}
.interval {
	margin-left : 15px;
	margin-right: 15px;
}
.label-center {
	margin-left : 34%;
	margin-right : 3%;
}

.label-center2 {
	margin-left : 45%;
	margin-bottom : 5%;
}

.search-div {
	margin-top : 5%;
	margin-bottom : 5%;
}
.panel-my {
	height : 100%;
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-title-my {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #4F4F4F;
}
.panel-primary>.panel-heading-my {
    color: #fff;
    background-color: #FFFFFF;
    border-color: #337ab7;
}

.noleftbottomright {
	padding-top:0;
	padding-left : 0;
	padding-bottom : 0;
	padding-right :0;
}